<!DOCTYPE html>
<html ng-app="CalCAREApp">
    <head>
        <title>CalCARE - Online Weather Calendar</title>
        <meta charset="utf-8"/>
        <script src="js/libs/angular.js/angular.js"></script>
        <script src="js/libs/angular.js/angular-sanitize.js"></script>
        <script src="js/libs/angular.js/ngStorage.js"></script>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="js/libs/jquery/responsive-calendar.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="js/libs/moment.js"></script>
        <script src="js/libs/bootstrap-datetimepicker.js"></script>
        <script src="js/libs/bootstrap-filestyle.min.js" charset="utf-8"></script>
        <script src="js/calendar.js"></script>
        <link href="css/responsive-calendar.css" rel="stylesheet" media="screen">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="CalendarController">
        <div ng-switch on="loginData" id="main">
            <div ng-switch-when="true">
                <div ng-include="'userNav'"></div>
                <div ng-include="'userModals'"></div>
                <div ng-include="'userPage'"></div> 
            </div>
            <div ng-switch-when="false">
                <div ng-include="'guestPage'" id="landing"></div>
            </div>
        </div>
        
        <script type="text/ng-template" id="guestPage">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a ng-click="passwordReset()" href="#/">Lost your password?</a></li>
                            <li>
                                <form class="navbar-form navbar-right" name="loginForm" id="loginForm" ng-submit="loginSubmit(loginInfo); loginForm.$setPristine(); loginInfo={}; " role="form">
                                    <div class="form-group">
                                        <input type="email" placeholder="Email" class="form-control" ng-model="loginInfo.email" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" placeholder="Password" class="form-control" ng-model="loginInfo.password" />
                                    </div>
                                    <input type="submit" id="loginButton" class="btn btn-success" value="Sign In" />
                                </form>
                            </li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>

            <div class="jumbotron">
                <div class="container">
                    <p>
                        <form name="resetForm" style="display:none; margin-top: -55px;" id="resetForm" ng-submit="resetSubmit(reset); resetForm.$setPristine(); reset={}" class="navbar-form" role="form">
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control" ng-model="reset.email" />
                            </div>
                            <input type="submit" id="resetButton" class="btn btn-primary" value="Reset password" />
                        </form>
                    </p>
                    <p>
                        <form name="newPasswordForm" style="display:none;" id="newPasswordForm" ng-submit="newPasswordSubmit(newPassword, newPasswordStruct.resetToken); newPasswordForm.$setPristine(); newPassword=''" class="navbar-form" role="form">
                            <div class="form-group">
                                <input type="password" placeholder="New Password" class="form-control" ng-model="newPassword" />
                            </div>
                            <input type="submit" id="resetButton" class="btn btn-primary" value="Set new password" />
                        </form>
                    </p>
                    <h1>CalCARE</h1>
                    <p>With CalCARE you can keep track of your indoor and outdoor events, and be notified if suddenly comes the rain.</p>
                    <h2>Try our Online Weather Calendar. </h2>
                    <div id="landingNotifications" ng-bind-html="$parent.landingNotif"></div>
                    <p>
                        <form name="signupForm" id="signupForm" ng-submit="signupSubmit(signup); signupForm.$setPristine(); signup={}" class="navbar-form" role="form">
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control input-lg" ng-model="signup.email" />
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control input-lg" ng-model="signup.password" />
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Given Name" class="form-control input-lg" ng-model="signup.givenName" />
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Family Name" class="form-control input-lg" ng-model="signup.familyName" />
                            </div>
                            <br>
                            <input type="submit" id="submitButton" class="btn btn-primary btn-lg" value="Signup &raquo;" />
                        </form>
                    </p>
                </div>
            </div>
        </script>
        
        <script type="text/ng-template" id="userNav">
            <div id="userPageWrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" ng-href="#/" ng-click="login()"><b>Cal</b>CARE</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right">
                         <ul class="nav navbar-nav">
                            <li><button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#eventCreateModal">New Event</button></li>
                            <li><a href="#/" data-toggle="modal" data-target="#editSettingsModal">Settings</a></li>
                            <li><a ng-click="logout()" href="#/">Logout</a></li>
                            <li>
                                <form class="navbar-form navbar-right">
                                    <div class="form-group has-feedback">
                                        <input type="text" placeholder="Search for user email" class="form-control" ng-change="searchUsers($parent.userSearch)" ng-model="userSearch.searchField">
                                        <i class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></i>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>
        </script>
        
        <script type="text/ng-template" id="userModals">
            <div class="modal fade" id="eventCreateModal" tabindex="-1" role="dialog" aria-labelledby="newEventLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="newEventLabel">New Event</h4>
                        </div>
                        <form name="eventCreateForm" id="eventCreateForm" ng-submit="eventCreateSubmit(eventCreate); eventCreateForm.$setPristine();" role="form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="createName" placeholder="Event name" ng-model="eventCreate.event.name">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" id="createDesc" placeholder="Description" ng-model="eventCreate.event.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="createOutdoorCheck" value="outdoor" ng-model="eventCreate.event.outdoor"> Outdoor
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="createPublicCheck" value="public" ng-model="eventCreate.event.public1"> Public
                                    </label>
                                </div>
                        
                                <div class="row">
                                    <div class='col-md-6'>
                                        <div class="form-group">
                                            <label for="createBeginDatetime">From:</label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control" placeholder="Choose a begin date and time" id='createBeginDatetime'/>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                     </div>
                                     <div class='col-md-6'>
                                        <div class="form-group">
                                            <label for="createEndDatetime">To:</label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control" placeholder="Choose an end date and time" id='createEndDatetime'/>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group">
                                    <input type="text" class="form-control" id="createWhere" ng-model="eventCreate.event.location" placeholder="Where?">
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-3">Invited people:</label>
                                    <div class="col-sm-9">
                                        <p ng-if="eventCreate.invitedPeople.length === 0">
                                            No invited people yet...
                                        </p>
                                        <button type="button" style="margin-right: 10px;" ng-click="eventCreate.invitedPeople.splice($index, 1);" ng-repeat="p in eventCreate.invitedPeople" class="btn btn-sm">{{p.owner.email}} <span aria-hidden="true">&times;</span></button>&nbsp;
                                    </div>
                                </div>
                        
                                <div class="form-group has-feedback">
                                    <input type="text" placeholder="Search for users to invite!" class="form-control" ng-change="searchUsers($parent.eventCreate)" ng-model="eventCreate.searchField">
                                    <i class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></i>
                                </div>
                                <div class="form-group" ng-if="eventCreate.searchField.length > 0">
                                    <p ng-if="eventCreate.searchedPeople.length === 0">
                                        No matches!
                                    </p>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="p in eventCreate.searchedPeople">
                                            <b>{{p.owner.givenName}} {{p.owner.familyName}}</b> {{p.owner.email}}
                                            <button class="btn btn-sm pull-right" ng-click="eventCreate.invitedPeople.push(eventCreate.searchedPeople.splice($index, 1)[0]);"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group" ng-bind-html="$parent.eventCreateNotif"></div>
                                <input type="submit" class="btn btn-primary" value="Create" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="eventEditModal" tabindex="-1" role="dialog" aria-labelledby="editEventLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editEventLabel">Edit Event</h4>
                        </div>
                        <form name="eventEditForm" id="eventEditForm" ng-submit="eventEditSubmit(eventEdit); eventEditForm.$setPristine();" role="form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="createName" placeholder="Event name" ng-model="eventEdit.event.name">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" id="createDesc" placeholder="Description" ng-model="eventEdit.event.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="createOutdoorCheck" value="outdoor" ng-model="eventEdit.event.outdoor"> Outdoor
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="createPublicCheck" value="public" ng-model="eventEdit.event.public1"> Public
                                    </label>
                                </div>
                        
                                <div class="row">
                                    <div class='col-md-6'>
                                        <div class="form-group">
                                            <label for="editBeginDatetime">From:</label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control" placeholder="Choose a begin date and time" id='editBeginDatetime'/>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                     </div>
                                     <div class='col-md-6'>
                                        <div class="form-group">
                                            <label for="editEndDatetime">To:</label>
                                            <div class='input-group date'>
                                                <input type='text' class="form-control" placeholder="Choose an end date and time" id='editEndDatetime'/>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group">
                                    <input type="text" class="form-control" id="createWhere" ng-model="eventEdit.event.location" placeholder="Where?">
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-3">Invited people:</label>
                                    <div class="col-sm-9">
                                        <p ng-if="eventEdit.invitedPeople.length === 0">
                                            No invited people yet...
                                        </p>
                                        <button type="button" style="margin-right: 10px;" ng-click="eventEdit.invitedPeople.splice($index, 1);" ng-repeat="p in eventEdit.invitedPeople" class="btn btn-sm">{{p.owner.email}} <span aria-hidden="true">&times;</span></button>&nbsp;
                                    </div>
                                </div>
                        
                                <div class="form-group has-feedback">
                                    <input type="text" placeholder="Search for users to invite!" class="form-control" ng-change="searchUsers($parent.eventEdit)" ng-model="eventEdit.searchField">
                                    <i class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></i>
                                </div>
                                <div class="form-group" ng-if="eventEdit.searchField.length > 0">
                                    <p ng-if="eventEdit.searchedPeople.length === 0">
                                        No matches!
                                    </p>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="p in eventEdit.searchedPeople">
                                            <b>{{p.owner.givenName}} {{p.owner.familyName}}</b> {{p.owner.email}}
                                            <button class="btn btn-sm pull-right" ng-click="eventEdit.invitedPeople.push(eventEdit.searchedPeople.splice($index, 1)[0]);"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group" ng-bind-html="$parent.eventEditNotif"></div>
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editSettingsModal" tabindex="-1" role="dialog" aria-labelledby="editSettingsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editSettingsLabel">Edit Settings</h4>
                        </div>
                        <form name="editSettingsForm" id="editSettingsForm" ng-submit="updateUser(editSettings); editSettingsForm.$setPristine();" role="form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="editGivenName" placeholder="Given Name" ng-model="editSettings.givenName">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="editFamilyName" placeholder="Family Name" ng-model="editSettings.familyName">
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-primary" ng-click="exportCalendar();">Export Calendar <i class="glyphicon glyphicon-download" aria-hidden="true"></i></a>
                                </div>
                                <div class="form-group">
                                    <label for="importCalendar">Import a calendar:</label>
                                    <input type="file" id="importCalendarField" name="importCalendar" class="filestyle" data-buttonName="btn-primary" onchange="angular.element(this).scope().importCalendar(this.files)"/>
                                </div>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="editSettingsPublicCheck" ng-change="updatePublicCalFlag()" value="public1" ng-model="$parent.myCal.public1"> Public calendar
                                    </label>
                                </div>
                                <div class="form-group"ng-bind-html="$parent.editSettingsNotif"></div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group" ng-bind-html="$parent.settingsNotif"></div>
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="eventListModal" tabindex="-1" role="dialog" aria-labelledby="eventListLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="eventListLabel">Event list for {{eventList.day}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <a ng-href="#/events/{{e.id}}" ng-click="$parent.openCurrentEventModal(e)" class="list-group-item" ng-repeat="e in eventList.events">
                                    <h4 class="list-group-item-heading">{{e.name}}</h4>
                                    <p class="list-group-item-text">{{e.description}}</p><br/>
                                    <p class="list-group-item-text">Where: {{e.location}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="currentEventModal" tabindex="-1" role="dialog" aria-labelledby="currentEventLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="currentEventLabel">Event: {{$parent.currentEvent.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <p><b>Creator:</b> {{currentEvent.creator.givenName}} {{currentEvent.creator.familyName}} ({{currentEvent.creator.email}})</p>
                            <p><b>Description:</b> {{currentEvent.description}}</p>
                            <p><b>From:</b> {{currentEvent.startFormatted}}</p>
                            <p><b>To:</b> {{currentEvent.endFormatted}}</p>
                            <p><b>Where</b> {{currentEvent.location}}</p>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" onclick="return false" id="createOutdoorCheck" value="outdoor" ng-checked="currentEvent.outdoor"> Outdoor
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" onclick="return false" id="createPublicCheck" value="public" ng-checked="currentEvent.public1"> Public
                                </label>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3">Invited people:</label>
                                <div class="col-sm-9">
                                    <p ng-if="currentEvent.invitedPeople.length === 0">
                                        No invited people yet...
                                    </p>
                                    <button type="button" style="margin-right: 10px;" ng-repeat="p in currentEvent.invitedPeople" class="btn btn-sm">{{p.user.email}}</button>&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group" ng-bind-html="$parent.currentEventNotif"></div>
                            <div ng-switch on="currentEvent.isMine" id="main">
                                <div ng-switch-when="true">
                                    <input type="submit" class="btn btn-primary" value="Edit" ng-click="editEvent(currentEvent)" />
                                    <input type="submit" class="btn btn-danger" value="Delete" ng-click="deleteEvent(currentEvent)" />
                                </div>
                                <div ng-switch-when="false">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-{{o.color}}" ng-repeat="o in currentEvent.rangeOptions" ng-click="changeParticipation(o.val)" ng-class="{active:currentEvent.myP.accepted==o.val}">
                                            <input type="radio" name="participationAccepted" autocomplete="off"> {{o.label}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="userPage">
            <div id="calendarWrapper" class="row">
                <div id="calendarContainer" class="container col-md-9 row">
                    <div id="searchResults" ng-if="userSearch.searchField.length > 0" class="col-md-offset-2 col-md-8" style="margin-right: 16.6667%;">
                        <h2>Search results:</h2>
                        <p ng-if="userSearch.searchedPeople.length === 0">
                            No matches!
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="p in userSearch.searchedPeople">
                                <b style="margin-right:2em;">{{p.owner.givenName}} {{p.owner.familyName}}</b> {{p.owner.email}}
                                <button class="btn btn-sm pull-right" ng-click="getCalendar(p.id);"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>
                    <!-- Responsive calendar - START -->
                    <div class="responsive-calendar">
                        <div class="controls">
                            <a class="pull-left" data-go="prev"><div class="btn btn-primary">
                                <i class="glyphicon glyphicon-chevron-left glyphicon-align-left" aria-hidden="true"></i>
                                 Prev
                            </div></a>
                            <h3><span data-head-year></span> <span data-head-month></span></h3>
                            <a class="pull-right" data-go="next"><div class="btn btn-primary">
                                Next 
                                <i class="glyphicon glyphicon-chevron-right glyphicon-align-right" aria-hidden="true"></i>
                            </div></a>
                        </div><hr/>
                        <div class="day-headers">
                            <div class="day header">Mon</div>
                            <div class="day header">Tue</div>
                            <div class="day header">Wed</div>
                            <div class="day header">Thu</div>
                            <div class="day header">Fri</div>
                            <div class="day header">Sat</div>
                            <div class="day header">Sun</div>
                        </div>
                        <div class="days" data-group="days">
                            <!-- the place where days will be generated -->
                        </div>
                    </div>
                    <!-- Responsive calendar - END -->
                </div>
                
                <div id="notificationsContainer" class="container col-md-3">
                    <div class="list-group">
                        <p ng-if="notifications.length === 0">
                            No notifications to show!
                        </p>
                        <div ng-bind-html="$parent.notificationsNotif"></div>
                        <a href="#/" class="list-group-item clearfix" ng-click="$parent.openCurrentEventModal(n.event)" ng-repeat="n in $parent.notifications">
                            <h4 class="list-group-item-heading">{{n.type.name}}</h4>
                            <p class="list-group-item-text">{{n.description}}</p>
                            <span class="pull-right">
                                <button class="btn btn-danger" ng-click="deleteNotif(n.id); $event.stopPropagation();"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                            </span>
                        </a>
                    </div>
                </div>
                
                
            </div>
            </div>
        </script>
    </body>
</html>
